<footer id="footer">

    <div class="container has-text-centered">
        
                <div class="footer-menu buttons">
					{# set current page based on URI segment so as to highlight active page #}
					{% set current = request_path()|split('/')|last %}   
                  <!-- navbar items --> 

                    {% for link in links('site_desan_foot').get() %}

						{% if spa %}          
							<router-link tag="a" to="{{  link.path }}" class="button menu-label" exact>
								{{ link.title }}
							</router-link>   
						{% else %}        
							<a href="/artisan{{  link.path }}" class="navbar-link {% if '/'~ current == link.path %}active{% endif %}" >
								{{ link.title }}
							</a> 
						{% endif %}    
                            
                    {% endfor %} 
					
					{% for link in links('site_desan').get() %}
					
						{% if spa %}           
							<router-link tag="a" to="{{  link.path }}" class="navbar-link" >
								{{ link.title }}
							</router-link> 
						{% else %}         
							<a href="/artisan{{  link.path }}" class="navbar-link {% if '/'~ current == link.path %}active{% endif %}" >
								{{ link.title }}
							</a> 
						{% endif %}    

						{#
							<a href="{{ link.url }}" target="{{ link.target.key }}">{{ link.title }}</a>
						#}
					{% endfor %}
                </div>

                <div class="columns">
                    <div class="column">   
						
						<p class="icone has-text-centered subtitle">  Essonne </p> 
						
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="379.48px" height="560px" viewBox="0 0 379.48 560" enable-background="new 0 0 379.48 560" xml:space="preserve">
						<g>
							<path d="M131.75,124.751c-12.899,0-22.328,11.412-22.08,28.283c0,13.893,7.443,25.801,22.825,25.801
								c10.172,0,17.366-4.961,20.84-10.668c1.24-2.232,1.984-4.713,1.984-9.428C155.319,141.621,148.869,124.751,131.75,124.751z"/>
							<path d="M189.021,0.322c-99.691,0-180.8,81.107-180.8,180.801c0,136.72,162.273,302.761,169.18,309.663
								c3.212,3.208,7.412,4.813,11.62,4.813c4.204,0,8.406-1.604,11.614-4.813c6.905-6.902,169.181-172.943,169.181-309.663
								C369.816,81.429,288.708,0.322,189.021,0.322z M165.491,240.859c-15.382,13.895-36.47,21.584-61.527,22.576
								c-6.45,0.497-12.9,0.248-17.118,0v-29.522c4.714,0.496,8.932,0.496,16.375,0c11.411-0.744,23.071-3.971,31.756-9.925
								c10.42-7.193,17.365-17.613,20.343-29.771l-0.744-0.248c-7.195,7.443-17.615,11.661-32.252,11.661
								c-27.29,0-50.363-19.104-50.363-50.363c0-31.508,25.306-58.054,60.783-58.054c41.431,0,61.031,31.756,61.031,69.466
								C193.774,200.171,183.106,224.733,165.491,240.859z M297.225,261.203h-36.47V133.435h-0.496l-30.764,14.638l-6.203-28.282
								l42.672-19.848h31.261V261.203z"/>
						</g>
						</svg>
						
						<p class="coords">
						  Tél. <a href="tel:{{ variable_value('desan', 'd91_tel') }}">{{ variable_value('desan', 'd91_tel') }}</a> 
							
							<address>
								{{ variable_value('desan', 'd91_adr')|nl2br }} 
							</address>

						</p>
					
					</div> 
                
                    <div class="column"> 
						
						<p class="icone has-text-centered subtitle">  Hauts de Seine</p> 

						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="374.982px" height="560px" viewBox="0 0 374.982 560" enable-background="new 0 0 374.982 560" xml:space="preserve">
						<g>
							<path d="M130.01,124.698c-12.946,0-22.407,11.453-22.158,28.382c0,13.941,7.469,25.893,22.904,25.893
								c10.208,0,17.428-4.979,20.913-10.706c1.245-2.24,1.992-4.729,1.992-9.46C153.661,141.627,147.188,124.698,130.01,124.698z"/>
							<path d="M187.481-0.171C87.442-0.171,6.049,81.221,6.049,181.265c0,137.201,162.843,303.826,169.771,310.756
								c3.224,3.219,7.438,4.829,11.661,4.829c4.223,0,8.44-1.61,11.661-4.829c6.93-6.93,169.771-173.555,169.771-310.756
								C368.913,81.221,287.52-0.171,187.481-0.171z M163.867,241.211c-15.436,13.941-36.597,21.66-61.743,22.655
								c-6.473,0.497-12.945,0.248-17.178,0v-29.625h0.001c4.729,0.497,8.962,0.497,16.431,0c11.453-0.747,23.154-3.983,31.867-9.96
								c10.457-7.22,17.428-17.676,20.415-29.875l-0.747-0.248c-7.22,7.469-17.676,11.7-32.365,11.7c-27.386,0-50.54-19.17-50.54-50.539
								c0-31.617,25.396-58.258,60.996-58.258c41.577,0,61.245,31.867,61.245,69.71C192.249,200.381,181.543,225.029,163.867,241.211z
								M211.171,261.626v-22.903l20.912-18.922c35.354-31.618,52.531-49.792,53.029-68.713c0-13.195-7.967-23.651-26.639-23.651
								c-13.942,0-26.143,6.972-34.606,13.443l-10.705-27.137c12.199-9.213,31.12-16.682,53.028-16.682
								c36.598,0,56.764,21.411,56.764,50.789c0,27.137-19.668,48.796-43.07,69.709l-14.938,12.448v0.498h60.996v31.12H211.171z"/>
						</g>
						</svg>

						<p class="coords">
						  Tél. <a href="tel:{{ variable_value('desan', 'd92_tel') }}">{{ variable_value('desan', 'd92_tel') }}</a> 
							
							<address>
								{{ variable_value('desan', 'd92_adr')|nl2br }} 
							</address>

						</p>

                    </div> 

                    <div class="column"> 
						
						<p class="icone has-text-centered subtitle">  Val de Marne</p> 

						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="374.982px" height="560px" viewBox="0 0 374.982 560" enable-background="new 0 0 374.982 560" xml:space="preserve">
							<g>
								<path d="M132.189,122.918c-12.979,0-22.465,11.482-22.215,28.455c0,13.978,7.488,25.959,22.964,25.959
									c10.233,0,17.472-4.992,20.967-10.733c1.248-2.247,1.996-4.743,1.996-9.485C155.901,139.891,149.411,122.918,132.189,122.918z"/>
								<path d="M265.973,157.114l-21.717,35.443v0.5H280.7v-35.943c0-9.735,0.498-19.719,1.248-30.202h-1
									C275.708,137.395,271.464,146.88,265.973,157.114z"/>
								<path d="M187.491-0.171C87.452-0.171,6.058,81.221,6.058,181.265c0,137.201,162.844,303.826,169.771,310.756
									c3.224,3.219,7.438,4.829,11.661,4.829c4.223,0,8.439-1.61,11.661-4.829c6.93-6.93,169.771-173.555,169.771-310.756
									C368.923,81.221,287.53-0.171,187.491-0.171z M166.145,239.732c-15.476,13.978-36.692,21.715-61.902,22.714
									c-6.489,0.499-12.979,0.25-17.223,0v-29.703c4.743,0.5,8.986,0.5,16.475,0c11.481-0.749,23.213-3.994,31.949-9.984
									c10.483-7.239,17.472-17.722,20.467-29.953l-0.748-0.25c-7.239,7.488-17.723,11.731-32.449,11.731
									c-27.456,0-50.669-19.219-50.669-50.669c0-31.7,25.459-58.407,61.152-58.407c41.684,0,61.402,31.949,61.402,69.889
									C194.598,198.797,183.866,223.508,166.145,239.732z M316.651,221.511v38.688H280.71v-38.688h-71.887V196.8l61.402-98.843h46.426
									v95.099h19.469v28.455H316.651z"/>
							</g>
						</svg>

						<p class="coords">
						  Tél. <a href="tel:{{ variable_value('desan', 'd94_tel') }}">{{ variable_value('desan', 'd94_tel') }}</a>  
							<address>
						 		{{ variable_value('desan', 'd94_adr')|nl2br }} 
							</address> 
						</p> 

                    </div> 

					<div class="column is-one-fifth"> 
						<p class="subtitle"> 
							Contact 
						</p>

						<em class="fa fa-phone-alt is-size-3" aria-hidden="true"></em> 
						
						<p class="coords"> 
							<a href="tel:{{ variable_value('desan', 'portable') }}">{{ variable_value('desan', 'portable') }}</a> 
						</p>

						<p>  
							SIRET {{ variable_value('desan', 'siret') }} 
						</p>

					</div>
                </div>	
        <p>
			&copy;{{ 'now'|date('Y') }} All rights reserved.
        </p>	
        <p>
			{# https://pyrocms.com/documentation/streams-platform/1.6/front-end-development/images #}
			{# img('theme::img/desan/favicon.png').fit(100, 100)|raw #}
        </p>	 
    </div>
         

</footer>
