<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
     
    <div class="navbar-brand">
        
        {% if spa %}   
          <router-link tag="a" to="/" class="navbar-item animate__animated animate__bounceIn" exact>
              {# trans(template.meta_title) #} 
              {{ page('/desan').title|raw }}
          </router-link>
        {% else %} 
          <a href="/" class="navbar-item animate__animated animate__bounceIn is-hidden" >
              {# trans(template.meta_title) #} 
              {{ page('/desan').title|raw }}
          </a>   
        {% endif %}   

        {% if spa %}   
          <a role="button" class="navbar-burger has-text-white" aria-label="menu" :aria-expanded="menuOpen"  :class="{ 'is-active': menuOpen }" @click="menuOpen = !menuOpen">
        {% else %} 
          <a role="button" class="navbar-burger has-text-white" aria-label="menu" onclick="toggleMenu(this)">
        {% endif %}   

        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
        
    </div>

    
    
  {% if spa %}   
    <div class="navbar-menu" v-bind:class="{ 'is-active': menuOpen }" >
  {% else %} 
    <div class="navbar-menu" >
  {% endif %}  
        
      <div class="navbar-start">
        <!-- navbar items -->
      </div>

      <div class="navbar-end">
        <!-- navbar items --> 

            {#
            <router-link tag="a" to="/" class="navbar-link" exact>
                Accueil
            </router-link> 
            #}
            {# set current page based on URI segment so as to highlight active page #}
            {% set current = request_path()|split('/')|last %} 

              {# desan/pages/  = 82 #} 
              {% set sitepages = entries('pages', 'pages').where('parent_id', 82).where('enabled', 1).get() %} 
              {% for pcontent in sitepages %} 
                {% if pcontent.enabled %}     
                                    
                      {% if spa %}          
                        <router-link tag="a" to="/service/{{  pcontent.slug }}" class="navbar-link" >
                            {{ pcontent.title }}
                        </router-link> 
                      {% else %}
                        <a href="/artisan/travaux/{{  pcontent.slug }}" class="navbar-link {% if current == pcontent.slug %}active{% endif %}" >
                            {{ pcontent.title }}
                        </a> 
                      {% endif %}    

                {% endif %} 
              {% endfor %}   
                    
      </div>
    </div>
    
</nav>
